*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Решта коду */

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Обнулення дефолтних маржінів для заголовків і параграфів */
h1,
h2,
h3,
p {
  margin: 0;
}

/* Обнулення маржінів і падінгів для списків */
ul,
ol {
  margin: 0;
  padding-left: 0;
}

/* Зробити зображення блочними елементами */
img {
  display: block;
  max-width: 100%; /* Для адаптивності */
  height: auto; /* Зберігає пропорції зображення */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* ДЗ 3 (три) блоки флекси до .body скиидання відступів і псевдокласи  */

.container {
  max-width: 1158px; /* Максимальна ширина контейнера */
  padding-left: 15px; /* Внутрішній відступ зліва */
  padding-right: 15px; /* Внутрішній відступ справа */
  margin-left: auto; /* Центрує контейнер по горизонталі */
  margin-right: auto; /* Центрує контейнер по горизонталі */
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo_f {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo_part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo_partt {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo_navigation {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  gap: 40px;
}
.logo_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ref {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  /* edits after dz4 */
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ref::before {
}

.current {
  position: relative;
  color: #404bbf;
}

.logo_navigation .current::before {
  background-color: #fff;
}

.logo_navigation .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.ref:hover {
  color: #404bbf;
}
.ref:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.addresa {
  font-style: normal;
}
.adres {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover {
  color: #404bbf;
}
.mail:focus {
  color: #404bbf;
}
.main_page {
  background: #2e2f42;
  padding: 188px 0;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}
.main_page .container {
  display: flex;
  justify-content: center; /* Центрує по горизонталі */
  align-items: center; /* Центрує по вертикалі */
  flex-direction: column; /* Розташовує елементи одне під одним (по вертикалі) */
}
.hero_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}
.cta {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cta:hover {
  background-color: #404bbf;
}
.cta:focus {
  background-color: #404bbf;
}

.page_advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.adv_content {
  display: flex;
  gap: 24px;
}
.adv_list {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.adv_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 64;
  height: 64;
}
.adv_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.adv_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.soc_nets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  margin-top: 8px;
  padding-left: 0;
}

.soc_nets_item {
  width: 40px;
  height: 40px;
}
.soc_nets_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc_nets_link:hover {
  background-color: #404bbf;
}
.soc_nets_link:focus {
  background-color: #404bbf;
}

.net_icon {
  fill: #f4f4fd;
}
.about {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hederr {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team_card_box {
  list-style-type: none;
  display: flex;
  gap: 24px;
}
.team_card {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.about_li_container {
  text-align: center;
  gap: 8px;
  padding: 32px 0;
}

.page_portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio_content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio_list_item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_list_item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio_block_item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio_block_item .adv_text:hover {
  transform: translateY(0%);
}
.portfolio_content_img {
  position: relative;
  overflow: hidden;
}
.portfolio_hover_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio_content_img:hover .portfolio_hover_text 
  transform: translateY(
    0%
  ); /* оверлей прт ховері на картинку, а потрібно  на  весь блок */
*/ .portfolio_list_item:hover .portfolio_hover_text {
  transform: translateY(0%); /* оверлей прт ховері на  весь блок */
}

footer {
  background: #2e2f42;
}
.foooter {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.foooter .container {
  display: flex;
  align-items: baseline;
}
.foooter_logo {
  margin-right: 120px;
}
.foooter_socnets {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.soc_nets_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.soc_nets_ul .soc_nets_link:hover {
  background-color: #31d0aa;
}
.soc_nets_ul .soc_nets_link:focus {
  background-color: #31d0aa;
}

/* .logo_navigation:first-child {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 4px;
} */
